# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# dotenv environment files
.env
.env.*

# VSCode settings
.vscode/

# macOS and Linux
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pycharm
.idea/

# Log files
*.log

# Coverage reports
htmlcov/
.coverage

